<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <!-- Bootstrap Vue -->
        <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css">

        <!-- Vuetify -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    </head>
    <body>
        <main>
            <div id="app">
                <v-app>
                    <div class="container">
                        {% block container %}{% endblock %}
                    </div>
                </v-app>
            </div>
        </main>

        <!-- Lodash -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

        <!-- Vuejs -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- Bootstrap Vue -->
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <!-- Bootstrap Vue Icons -->
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

        <!-- Store -->
        <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>

        <!-- Router -->
        <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>

        <!-- Vuetify -->
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <!-- Datejs -->
        <script src="https://cdn.jsdelivr.net/npm/datejs@1.0.0-rc3/index.min.js"></script>

        <script>
            var app = new Vue({
                el: '#app',
                name: 'App',
                vuetify: new Vuetify()
            })
        </script>
    </body>
</html>
